@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

.character{
width: 27%;
height: 500px;
display: flex;
flex-direction: column;
/*background-color: blue;*/
}

.characterName{
    width: 100%;
    margin: 0px;
    font-size: 35px;
    display: flex;
    justify-content: right;    
}
