@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

.character{
width: 30%;
height: 500px;
display: flex;
flex-direction: column;
background-color: blue;
}

.characterName{
    font-family: Volkhov;
    font-weight: 400;
    margin: 0px;
    margin-left: 60%;
    width: fit-content;
}
