@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

.character{
width: 23%;
height: 500px;
display: flex;
flex-direction: column;
align-items: center;
/*background-color: blue;*/
}

.onlycharacter{
    width: 100%;
}

.characterName{
    width: 100%;
    margin: 0px;
    font-size: 30px;
    display: flex;
    justify-content: right;    
}

.characterImg{
    width: 100%;
}

.buttonsDiv{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
