.characterDetailsWeapon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}

.mainInfoWeapon{
    width: 45%;
    display: flex;

}

.mainInfoWeaponImg{
    height: 70%;
}

.mainInfoWeapon--textDiv{
    width: 80%;
    text-align: left;
    margin-left: 25px;
}

.detailsWeapon{
    width: 44%;
    text-align: left;
    height: fit-content;
    padding: 40px 25px;
    background-color: #292929;
    border-radius: 15px;
}

.infoStatsText{
    width: 100%;
}

.buttonsWeaponDiv{
    width: 80%;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}