.characterDetails{
    width: 100%;
    padding: 150px 80px;
    box-sizing: border-box;
    
}

.biographyDiv{
    width: 33%;
    margin-right: 19px;
}

.titleElemDetail{  
    font-family: Volkhov;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 18px;
}

.biographyText{
    display: flex;
    text-align: left;
    font-family: Raleway;
}

.mainInfoCharacter{
    display: flex;
    justify-content:space-evenly;
    margin-top: 45px;
    margin-bottom: 160px;
}

.details{
    width: 24%;
    background-color: #292929;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 14px 0px;
    box-sizing: border-box;
}

.weaponFormDiv,
.artifactFormDiv{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
}

.ArtifactDiv,
.weaponDiv{
    width: 100%;
    padding: 0px 45px;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-top: 90px;
    margin-bottom: 120px;
}

.artifactElem,
.weaponElem {
    width: 100%;
    margin-top: 20px;
}


.TrailerDiv{
     margin-top: 140px;
}

.videoC{
    margin-top: 70px;
    border-width: 0px;
}


.noSomething{
    height: 25%;
    margin-top: 45px;
}

.nothingDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 350px;
    box-sizing: border-box;
}

.buttonAddComponent{
    margin-left: 85%;
}