.ArtifactsCharacter{
    width: 100%;
    justify-content: space-between;
}

.AllInfoDiv{
    display: flex;
}

.mainInfoArtifact{
    width: 50%;
    display: flex;
    text-align: left;
}

.mainInfoArtifactImg{
    height: 50%;
}

.mainInfoArtifact--textDiv{
    width: 50%;
    margin-left: 20px;
}

.mainInfoArtifact--text{
    font-family: Volkhov;
    font-weight: bold;
    font-size: 25px;
}

.detailsArtifacts{
    width: 50%;
    background-color: #292929;
    border-radius: 15px;
    padding: 15px 0px;
    box-sizing: border-box;
}

.titleStats{
    display: flex;
    margin-left: 40px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;
}

.subtitleMainInfo{
    font-family: Raleway;
    font-weight: normal;
    font-size: 20px;
    margin-top: 10px;
}

.editButtonArtifact{
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 86%
    
}

